---
import Redes from "../components/Redes.astro";
---

<section id="projects" class="py-8 md:py-16 flex flex-col items-center gap-8">
  <Redes />
  <p class="text-neutral-500">© 2023 Gerson Garayar.</p>
</section>
