---
import ListProjects from "../components/ListProjects";
---

<section id="projects" class="py-8 md:py-16 flex flex-col gap-8">
  <h2 class="text-3xl md:text-left font-semibold text-center text-neutral-200">
    Proyectos
  </h2>

  <ListProjects />
</section>
